body {
    background-image: url(https://onfairy.files.wordpress.com/2022/01/forged_1920x1080_br_pt1-1.jpg);
    padding: 0;
    margin: 0;
    background-position: 15rem;
    background-repeat: no-repeat;
    background-size: 110rem;
}
.formulario {
    min-height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    place-items: center;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
}


p {
    font-size: 0.9rem;
    margin-top: 1rem;
    text-align: justify;

}

img {
    display: flex;
    flex-direction: flex;
    align-items: center;
    width: 70%;
    height: 50%;
    margin-bottom: 4rem;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
    height: 50%;
    max-width: 28rem;
    background: #fff;
    padding: 4rem;
    box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
}

.titulo {
    width: 100%;
    color: #000;
    font-size: x-large;
    padding-bottom: 3rem;
}

.email {
    width: 100%;
    color: #101010;
    align-items: center;
}

input {
    font-size: 1.1875rem;
    color: #404040;
    padding: 1rem 0 0.5rem 0;
    width: 100%;
    border: none;
    border-color: #a0a0a0;
    border-bottom-width: 1px ;
    border-bottom-style: solid;
    margin-bottom: 3rem;
    transition: 0.15s linear;
}

input:focus {
    outline: none;
}

button {
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 700;
    text-transform: none;
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    border: 1px solid currentColor;
    border-radius: 6px;
    margin-top: 0.5rem;
    transition: 0.25s;
}

button:hover, button:focus {
    outline: none;
    background: #00AAE1;
    color: #fff;
}

a {
    text-decoration: none;
    color: #00AAE1;
    font-size: 0.9rem;
    font-weight: 600;
    transition: 0.3s;
}

a {
    margin-top: 0.8rem;
}

.divider {
    width: 100rem;
    height: 9px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin-top: 2rem;
    margin: 2rem;
}

.divider > span {
    font-size: 16px;
    background-color: #F3F5F6;
    padding: 0 10px;
}

